body
{
    background-color: rgb(234, 255, 202);
}

table.sudoku
{
    background-color: lightgreen;
    border-collapse: collapse;

    border: medium solid green;
}

table.sudoku td
{
    width: 2em;
    height: 2em;

    text-align: center;
    vertical-align: center;
    border: 1px solid green;
}

table.sudoku tr:nth-child(3n)
{
    border-bottom: medium solid green;
}
table.sudoku td:nth-child(3n)
{
    border-right: medium solid green;
}